<html>
<head>
    <title>angular-stepper demo</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='dist/angular-stepper.css' rel='stylesheet' type='text/css'>
    <style>
        * {
            font-family: 'Roboto Slab', serif;
        }
    </style>
    <script src="//code.angularjs.org/1.4.0/angular.min.js"></script>
    <script src="./src/angular-stepper.js"></script>
    <script>
        angular.module('demo', ['revolunet.stepper'])
                .controller('DemoController', function ($scope) {
                    $scope.rating = 20;
                    $scope.minRating = 10;
                    $scope.maxRating = 20;
                });


    </script>
<head>
<body ng-app="demo" ng-controller="DemoController">
<form name="form">
    Model value : <input type="text" size="3" ng-model="rating"><br>
    Min value: <input type="text" size="3" ng-model="minRating"><br>
    Max value: <input type="text" size="3" ng-model="maxRating"><br>
    Form has been modified : {{ form.$dirty }}<br>
    Form is valid : {{ form.$valid }}<br>
    Input is valid : {{ form.truc.$valid}}<br>
    Input is valid : {{ form.truc.$error}}<br>
    <hr>
    <div min="minRating" max="maxRating" ng-model="rating" rn-stepper name="truc"></div>
</form>
</body>

</html>
